<%
var appRoot = '../';
var layoutsDir = appRoot + '_layouts/';
include(layoutsDir + 'variables.ejs');
var globData = getGlobalData();
%>
<head>
    <meta charset="UTF-8">
    <title>terunuma github io</title>
</head>
