<%
var appRoot = '../';
var layoutsDir = appRoot + '_layouts/';
include(layoutsDir + 'variables.ejs');
var globData = getGlobalData();
%>
<%
var assetsDir = 'assets/';
var cssDir    = assetsDir + 'css/';
var vendorDir = assetsDir + 'vendor/';
%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>terunuma github io</title>
    <link rel="stylesheet" href="<%= vendorDir -%>foundation-6.2.4/css/foundation.min.css">
    <link rel="stylesheet" href="<%= vendorDir -%>foundation-6.2.4/css/app.css">
</head>
